<div class="column is-3">
    <!-- <a class="button is-primary is-block is-alt is-large" href="#">C</a> -->
    <aside class="menu">
        <p class="menu-label">
            Categories
        </p>
        <ul class="menu-list">
            <li><a href="/ruby.html"><span class="tag is-danger is-medium ">Ruby</span></a></li>
            <li><a href="/rails.html"><span class="tag is-link is-medium ">Ruby on Rails</span></a></li>
            <li><a href="/javascript.html"><span class="tag is-primary is-medium ">Javascript</span></a></li>
            <li><a href="/algorithm.html"><span class="tag is-dark is-medium ">Algorithm</span></a></li>
            <li><a href="/database.html"><span class="tag is-warning is-medium ">Database</span></a></li>
            <li><a href="/misc.html"><span class="tag is-success is-medium ">Misc</span></a></li>
        </ul>
    </aside>
</div>

