---
layout: default
---

<div class="container">   
      <div class="column is-8 is-offset-2">
          <!-- START ARTICLE -->
        {%- for post in site.posts -%}
          <div class="card article">
              <div class="card-content">
                  <div class="media">
                      <div class="media-center">
                          <img src="{{"/assets/images/ava.png"}}" class="author-image" alt="Placeholder image">
                      </div>
                      <div class="media-content has-text-centered">

                          <a href="{{ post.url | relative_url }}" class="is-size-5" >
                                {{ post.title | escape }}
                          </a>
                          <p class="subtitle is-6 article-subtitle">
                              {{ post.date | date: "%B %d, %Y"}}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
        {%- endfor -%}
  </div>
</div>

