---
layout: default
---



<section class="container">
    <div class="columns">
        <div class="column is-3">
            <!-- <a class="button is-primary is-block is-alt is-large" href="#">C</a> -->
            <aside class="menu">
                <p class="menu-label">
                    Categories
                </p>
                <ul class="menu-list">
                    <li><span class="tag is-dark is-medium ">Ruby</span></li>
                    <li><span class="tag is-link is-medium ">Ruby on Rails</span></li>
                    <li><span class="tag is-light is-danger is-medium ">Crystal</span></li>
                    <li><span class="tag is-success is-medium ">Golang</span></li>
                    <li><span class="tag is-warning is-medium ">Javascript</span></li>
                    <li><span class="tag is-primary is-medium ">Misc</span></li>
                </ul>
            </aside>
        </div>

        

   
        <div class="column is-9">
            <div class="box content">
              {%- for post in site.posts -%}
                <article class="post">
                    
                    <a href="{{ post.url | relative_url }}" >
                            <h4>{{ post.title | escape }}</h4>
                      </a>
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-32x32">
                                <img src="{{"/assets/images/ava.png"}}">
                            </p>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <a href="#">@omkz</a> {{ post.date | date: "%B %d, %Y"}} &nbsp;
                                    
                                    {% for tag in post.tags %}
                                      <span class="tag">#{{ tag }}</span>
                                  {%- endfor -%}
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </article>
              {%- endfor -%}
              
            </div>
        </div>
    </div>
</section>

